.signInButton {
  height: 3rem;
  border-radius: 3rem;
  border: 0;
  padding: 0 1.5rem;

  background-color: var(--gray-850);
  color: var(--white);
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.8);
  }

  svg {
    width: 20px;
    height: 20px;

    &.closeIcon {
      margin-left: 1rem;
    }
  }

  svg:first-child {
    margin-right: 1rem;
  }

  &:focus-visible {
    outline: none;

    &::before {
      --gap-size: 0.5rem;
      --gap: calc(var(--gap-size) * -1);
      content: '';
      display: block;
      position: absolute;
      top: var(--gap);
      bottom: var(--gap);
      left: var(--gap);
      right: var(--gap);
      background-color: transparent;
      border: 2px solid var(--white);
      border-radius: 6rem;
    }
  }
}
